<h1>Login</h1>

<div class="login-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }} </span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

    <div>
        <label for="Username">
            Username
        </label>
        <input type="text" id="Username" formControlName="Username">
    </div>
    <div>
        <label for="Password">
            Password
        </label>
        <input type="text" id="Password" formControlName="Password">
    </div>
    
    <button class="button" type="submit">Accept</button>
</form>