<div id="search-component">
    <h4><label for="search-box">Game Search</label></h4>
  
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let game of games$ | async" >
        <a routerLink="/detail/{{game.id}}">
          {{game.name}}
        </a>
      </li>
    </ul>
  </div>
  