*{
  color: #616161;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
}

router-outlet + * {
  padding: 0 16px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}
h3{
  font-size: 16px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 16px;
}
h1,h2{
  font-weight: lighter;
}

p{
  font-size: 18px;
}

a{
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

b{
  margin: 15px;
}


a:hover{
  opacity: 0.8;
}

input{
  font-size: 16px;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
}

label{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: 2px block;
  text-transform: uppercase;
}

.button, button{
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background: #1976d2;
  color: white;
  border: none;
}

.button:hover, .button:hover{
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, .button:disabled{
  opacity: 0.5;
  cursor: auto;
}

.fancy-button{
  border-radius: 8px;
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons{
  color: #1976d2;
  padding-right: 4px;
}

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #090FA4;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #eee;
}

input[text] {
  color: #333;
  font-family: Cambria, Georgia;
}