<div *ngIf="game">
    <h2>{{game.name}} Games</h2>
    
   <!-- <div><span>id: </span>{{game.id}}</div> -->
    <div>
      <label> 
      <!-- <input [(ngModel)]="game.name" placeholder="name"/>
        <a routerLink="/detail/{{game.id}}"> 
          <span class="badge">{{game.id}}</span> {{game.name}}
        </a> -->
      <div *ngIf="game.id == 1" class="image" >
        <h3>
          <p>name: Attack on Titan 2 - A.O.T.2</p>
          <img [src]=myimage1 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: Dead by Daylight</p>
          <img [src]=myimage2 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: Assassin’s Creed® IV Black Flag™</p>
          <img [src]=myimage3 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
      </div>
    </label>
  </div>

  
  <div>
    <label> 
      <div *ngIf="game.id == 2" class="image">
        <h3>
          <p>name: SCUM</p>
          <img [src]=myimage4 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: How to survive</p>
          <img [src]=myimage5 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: Dead Island</p>
          <img [src]=myimage6 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
      </div>
    </label>
  </div>

  <div>
    <label> 
      <div *ngIf="game.id == 3" class="image">
        <h3>
          <p>name: SCUM</p>
          <img [src]=myimage7 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: How to survive</p>
          <img [src]=myimage8 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: Dead Island</p>
          <img [src]=myimage9 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
      </div>
    </label>
  </div>

  <div>
    <label> 
      <div *ngIf="game.id == 4" class="image">
        <h3>
          <p>name: SCUM</p>
          <img [src]=myimage10 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: How to survive</p>
          <img [src]=myimage11 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: Dead Island</p>
          <img [src]=myimage12 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
      </div>
    </label>
  </div>

  <div>
    <label> 
      <div *ngIf="game.id == 5" class="image">
        <h3>
          <p>name: SCUM</p>
          <img [src]=myimage13 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: How to survive</p>
          <img [src]=myimage14 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
        <h3>
          <p>name: Dead Island</p>
          <img [src]=myimage15 width="400">
          <p>detail: xxxxxxxxxxxxxx</p>
          <p>price: 59$</p>
        </h3>
      </div>
    </label>
  </div>

    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>
