<a [routerLink]="['/']">
    <h1>HOME</h1>
</a>



<p>
    <b [routerLink]="['/games']" class="button fancy-button">
        <i class="material-icons">games</i>Games
    </b>
    
    <b [routerLink]="['/login']" class="button fancy-button">
        <i class="material-icons">lock_open</i>Sign in
    </b>
    
    <a [routerLink]="['/register']" class="button fancy-button">
        <i class="material-icons">perm_identity</i>Register
    </a>
</p>





